<%- include('../../partials/header.ejs') %>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Form Basic</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
              <div class="card-body">
                <h4 class="card-title">Add Product</h4>
                <div class="form-group row">
                  <label for="fname" class="col-sm-3 text-end control-label col-form-label">Product Name</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" id="fname" placeholder="Product Name Here" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Product Description</label>
                  <div class="col-sm-9">
                    <input type="text" name="description" class="form-control" id="lname" placeholder="Product Description Here" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Product Price</label>
                  <div class="col-sm-9">
                    <input type="number" name="price" class="form-control" id="lname" placeholder="Product Price Here" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Product Image</label>
                  <div class="col-sm-9">
                    <input type="file" name="image" class="form-control" id="cono1" placeholder="Product Image Here" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Product Category</label>
                  <div class="col-sm-9">
                    <select name="category" class="form-control" id="cono1" placeholder="Product Category Here">
                      <option value="">Select Category</option>
                      <% category.forEach(category=> { %>
                        <option value="<%= category._id %>">
                          <%= category.name %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Product subCategory</label>
                  <div class="col-sm-9">
                    <select name="subCategory" class="form-control" id="cono1" placeholder="Product subCategory Here">
                      <option value="">Select subCategory</option>
                      <% subCategory.forEach(subCategory=> { %>
                        <option value="<%= subCategory._id %>">
                          <%= subCategory.name %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Product
                    extraCategory</label>
                  <div class="col-sm-9">
                    <select name="extraCategory" class="form-control" id="cono1" placeholder="Product extraCategory Here">
                      <option value="">Select extraCategory</option>
                      <% extraCategory.forEach(extraCategory=> { %>
                        <option value="<%= extraCategory._id %>">
                          <%= extraCategory.name %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="border-top">
                <div class="card-body">
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- editor -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <%- include('../../partials/footer.ejs') %>